# --- Deploy del contratto ---
DEPLOYER_PRIVATE_KEY=
OWNER_UP_ADDRESS=
ORACLE_ADDRESS=

# --- Oracolo (backend che riporta i risultati) ---
LUKSO_RPC_URL=https://rpc.lukso.gateway.fm
CONTRACT_ADDRESS=
ORACLE_PRIVATE_KEY=

# --- football-data.org ---
# Registrati gratis su https://www.football-data.org/client/register
FOOTBALL_DATA_API_KEY=
